:root {
	--primary-color: #ffffff;
    --secondary-color: #100020; 
    --primary-button-color: #6b00d6;
    --secondary-button-color: #ac79ff;
    --primary-accent-color: #000d85;
    --secondary-accent-color: #95007b;
    --secondary-accent-shadow-color: #440038;
}