:root {
	--primary-color: #ffffff;
    --secondary-color: #000020; 
    --primary-button-color: #9a34ff;
    --secondary-button-color: #ac79ff;
    --primary-accent-color: #000d85;
    --secondary-accent-color: #95007b;
}