:root {
	--primary-color: #ffffff;
    --secondary-color: #100020; 
    --primary-button-color: #6B00D6;
    --secondary-button-color: #45008A;
    --primary-accent-color: #000d85;
    --secondary-accent-color: #95007b;
}