@import url("../res/fonts/fonts.css");
@import url("core.css");

:root {
	--outline-radius:	5px;
	--or:				var(--outline-radius);
	--outline-tl:		calc(0px - var(--or)) var(--or) 0px black; 
	--outline-tr:		var(--or) var(--or) 0px black; 
	--outline-bl:		var(--or) calc(0px - var(--or)) 0px black; 
	--outline-br:		calc(0px - var(--or)) calc(0px - var(--or)) 0px black;
	--outline-top:		0px var(--or) 0px black;
	--outline-bottom:	0px calc(0px - var(--or)) 0px black;
	--outline-left:		calc(0px - var(--or)) 0px 0px black;
	--outline-right:	var(--or) 0px 0px black;
	--outline:			var(--outline-tl), var(--outline-tr), var(--outline-bl), var(--outline-br), var(--outline-top), var(--outline-bottom), var(--outline-left), var(--outline-right);
	--shadow-radius:	10px;
	--shadow-in:		0px 0px calc(0px - var(--shadow-radius)) black;
	--shadow-out:		0px 0px var(--shadow-radius) black;
	--bold-shadow-in:	var(--shadow-in), var(--shadow-in), var(--shadow-in);
	--bold-shadow-out:	var(--shadow-out), var(--shadow-out), var(--shadow-out);
}

header {
}

body {
	font-family: tanuki-magic;
	font-size: 20px;
	color: white;
	text-align: center;
	background-color: rgb(15, 15, 75);
	background-image: url("../res/img/backgrounds/background7.jpg");
	background-size: cover;
	justify-content: center;
}

.site-sigil {
	z-index: 0;
	width: max(256px, 30vw);
	margin-top: min(-145px, -19vw);
	margin-bottom: -256px;
	float: left;
	aspect-ratio: 1 / 1;
	animation: ease-out forwards 1s;
	animation-name: fade-in, rotate-ccw, slide-left;
}

.site-title {
	z-index: 100;
	font-size: max(39px, 5vw);
	margin-top: max(35px, 5vw);
	margin-bottom: 20px;
	width: 100%;
	text-shadow: var(--bold-shadow-out), var(--bold-shadow-out);
	font-family: mono-font;
	animation: ease-out forwards 1s;
	animation-delay: 0.2s;
	filter: opacity(0%);
	animation-name: fade-in, slide-up;
	position: relative;
}

.page-content {
	display: flex;
	justify-content: center;
	justify-items: center;
	justify-self: center;
	align-content: center;
	align-items: center;
	align-self: center;
	width: 100%;
}

.page-content-card {
	width: calc(90% - 5px);
	background-color: midnightblue;
	border-radius: 10px;
	font-size: max(25px, 2.5vw);
	padding: 10px;
	position: relative;
	margin: 5px;
	align-content: center;
	justify-content: center;
	box-shadow: var(--bold-shadow-out);
}

.link-anchor {
	border: 0px;
	background-color: transparent;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	text-decoration: none;
}

.bandcamp-album {
	border: 0;
	width: min(100%, 700px);
	height: 120px;
}

.content-blurb {
	font-family: powerr-font;
}

.content-title {
	font-family: tanuki-magic;
}

.blackout-mode {
	background-color: rgb(1, 1, 10) !important;
	border: 5px solid rgb(1, 1, 10) !important;
}

.eclipse-mode {
	background-color: rgb(16, 16, 70) !important;
	border: 5px solid rgb(16, 16, 70) !important;
}

.midnight-mode {
	background-color: midnightblue !important;
	border: 5px solid midnightblue !important;
}

.content-paragraph {
	font-family: yulong;
	background-color: rgb(16, 16, 70);
	border-radius: 5px;
	border: 5px solid rgb(16, 16, 70);
	margin-bottom: 10px;
}

.hug-left {
	float: left;
}

.hug-right {
	float: right;
}

@media only screen and (max-device-width: 600px) {
	.site-title {
		font-size: 80px;
	}
	
	.site-sigil {
		margin-top: -710px;
		width: 750px;
	}

	.page-content-card {
		font-size: 50px;
		width: 100%;
		border-radius: 0px;
		margin-left: 1.5px;
		margin-right: 1.5px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media only screen and (max-device-width: 400px) {
	.site-title {
		font-size: 120px;
	}
	
	.site-sigil {
		margin-top: -480px;
		width: 500px;
	}

	.page-content-card {
		font-size: 75px;
		width: 100%;
	}
}

@media only screen and (max-device-width: 380px) {
	.site-title {
		font-size: 45px;
	}
	
	.site-sigil {
		margin-top: -220px;
		width: 250px;
	}

	.page-content-card {
		font-size: 20px;
		width: 100%;
	}
}

@media only screen and (max-device-width: 360px) {
	.site-title {
		font-size: 120px;
	}
	
	.site-sigil {
		margin-top: -480px;
		width: 500px;
	}

	.page-content-card {
		font-size: 75px;
		width: 100%;
	}
}

