@import url("../res/fonts/fonts.css");
@import url("core.css");

:root {
	--primary-color: #ffffff;
    --secondary-color: #000020; 
    --primary-button-color: #9e3eff;
    --secondary-button-color: #cdc6ff;
    --accent-color: #3344d9;
}

body {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-family: powerr-font, Arial;
	font-size: 2vw;
	display: flexbox;
	text-align: center;
	word-spacing: 1.5vw;
}

a {
	text-decoration: none;
	color: var(--primary-button-color);
	transition: filter .25s;
}

.header-anchor {
	font-size: 4vw;
	color: var(--primary-color);
	margin-inline: 5vw 5vw;
}

.social-anchor {
	background-color: var(--primary-button-color);
	border: 1vw solid var(--primary-button-color);
	color: var(--primary-color);
	border-radius: 1vw;
}

a:hover {
	filter: brightness(50%);
}

header {
	position: fixed;
	width: 100%;
	margin-top: auto;
	border-bottom: .3vw solid var(--accent-color);
	background-color: var(--secondary-color);
	z-index: 10;
}

.padder {
	position: fixed;
	width: 100%;
	height: 2vh;
	margin-top: -2vh;
	border-bottom: .3vw solid var(--accent-color);
	background-color: var(--secondary-color);
	z-index: 10;
}

p {
	text-align: justify;
	margin-inline: 1.5vw 1.5vw;
}

.billboard {
	margin-top: 6vw;
	margin-bottom: 5vw;
	font-size: 7vw;
	animation: slide-down 1s ease;
}

.bandcamp-album {
	border: none;
	border: 0;
	width: 45%;
	height: 120px;
}

.album-container{
	align-items: flex-start;
}

.page {
	font-size: 3vw;
}

.card {
	padding: 2vw;
	border-radius: 2.5vw;
	background-color: var(--secondary-color);
	border: 1vw solid var(--accent-color);
	margin-inline: 10vw 10vw;
	margin-block: 2vw;
}

bbtext {
	padding: 2vw;
	border-radius: 2.5vw;
	background-color: var(--secondary-color);
	border: 1vw solid var(--accent-color);
}

.sprite {
	width: 20vw;
	height: 20vw;
	margin-left: 5vw;
	margin-right: 5vw;
}