@import url("../res/fonts/fonts.css");

@import url("core.css");
@import url("colors.css");

:root {
	--hover-hilight: 50%;
    --body-background-color: var(--secondary-color);
	/*--border-color: var(--primary-accent-color);
	--accent-color: var(--secondary-accent-color);*/
	--border-color: var(--secondary-accent-color);
	--popup-color: var(--primary-accent-color);
}

hr {
	border: 0.5vh solid var(--border-color);
	background-color: var(--border-color);
	border-radius: 1vw;
}

body {
	background-color: var(--body-background-color);
	color: var(--primary-color);
	font-family: powerr-font, Arial;
	font-size: 4vh;
	display: flexbox;
	text-align: center;
	word-spacing: 1.5vh;
}

a {
	text-decoration: none;
	color: var(--secondary-button-color);
	transition: filter .25s;
}

a:hover {
	filter: brightness(calc(100% + var(--hover-hilight)));
}

.header-anchor {
	font-size: 6.5vh;
	color: var(--primary-color);
	margin-inline: 2vw 2vw;
}

.header-anchor:hover {
	filter: brightness(var(--hover-hilight));
}

.card {
	padding: 2vh;
	border-radius: 2.5vh;
	background-color: var(--secondary-color);
	border: 1vh solid var(--border-color);
	margin-inline: 10vh 10vh;
	margin-block: 2vh;
}

.game-title {
	background-color: var(--border-color);
	padding-top: 2vh;
	padding-bottom: 2vh;
	border-radius: 2vw;
	margin-inline: 5vw 5vw;
}

dialog {
	padding: 2vh;
	border-radius: 2.5vh;
	background-color: var(--secondary-color);
	border: 1vh solid var(--popup-color);
	color: var(--primary-color);
	position: fixed;
	margin: 0px auto;
	width: 75%;
	max-width: 320px;
	top: 25vh;
	z-index: 50;
	animation: fade-in .25s ease;
}

li {
	text-align: left;
}

button {
	background-color: var(--primary-button-color);
	color: var(--primary-color);
	border-radius: 1svh;
	border-color: var(--primary-button-color);
	border-style: solid;
	margin-inline: 1vw;
	font-size: 3vh;
	transition: filter .25s;
}

button:hover {
	filter: brightness(var(--hover-hilight));
}

button:active {
	filter: brightness(var(--hover-hilight));
	transition: none;
}

button:disabled {
	filter: brightness(0.75) grayscale(0.75);
	transition: none;
}

.socials-card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	min-height: 20vh;
	word-spacing: 1%;
}

.social-anchor {
	font-size: 4vh;
	display: inline-block;
	width: 42%;
	background-color: var(--primary-button-color);
	border: 1vh solid var(--primary-button-color);
	color: var(--primary-color);
	border-radius: 1vh;
	margin-inline: 1vh 1vh;
}

.social-anchor:hover {
	filter: brightness(var(--hover-hilight));
}

header {
	position: fixed;
	width: calc(100% + 1.5vw);
	margin-left: -1.5vw;
	border-bottom: .5vh solid var(--border-color);
	background-color: var(--secondary-color);
	z-index: 10;
}

.padder {
	position: fixed;
	width: calc(100% + 1.5vw);
	margin-left: -1.5vw;
	height: 2vh;
	margin-top: -10vw;
	border-bottom: .3vh solid var(--border-color);
	border-top: 10vw solid var(--secondary-color);
	background-color: var(--secondary-color);
	z-index: 10;
}

p {
	text-align: left;
	margin-inline: 1vw 1vw;
}

.billboard {
	margin-top: 7.5vh;
	margin-bottom: 5vh;
	font-size: 7vh;
	animation: slide-down 1s ease;
}

.bandcamp-album {
	border: none;
	border: 0;
	width: max(40vh, 45%);
	height: 120px;
}

.album-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.page {
	font-size: 3vh;
}

.bbtext {
	padding: 2vh;
	border-radius: 2.5vh;
	background-color: var(--secondary-color);
	border: 1vh solid var(--border-color);
}

.sprite {
	width: max(20vw, 20vh);
	height: max(20vw, 20vh);
}

@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
	.billboard {
		margin-top: 30%;
	}

	.header-anchor {
		font-size: 12vw;
		margin-inline: 2vw 2vw;
	}

	.socials-card {
		flex-direction: column;
		word-spacing: 2vh;
		padding-top: 5vh;
	}

	.social-anchor {
		font-size: 3.5vh;
		display: inline-block;
		width: 85%;
		border: 1vw solid var(--primary-button-color);
		padding: 3vh 0;
		margin-bottom: 3vh;
	}

	.card {
		margin-inline: 5vw 5vw;
		margin-block: 2vh;
	}
}

@media screen and (max-width: 200px), screen and (max-device-width: 200px) {
	.header-anchor {
		font-size: 3vh;
	}
}